A:hover { COLOR: #0000FF }
.tNav {font-family: Arial, Helvetica; font-size: 9pt; font-weight: 700; color: white; text-decoration: none}
A.tNav:hover {text-decoration: underline}
.tNavHi {font-family: Arial, Helvetica; font-size: 10pt; font-weight: 700; color: black; text-decoration: none}
.bread {font-family: Verdana, Arial, Helvetica; font-size: 8pt; font-weight: 400;}
.breadHdr {font-family: Arial, Helvetica; font-size: 8pt; font-weight: 600; color: #666699}
/*
     FILE ARCHIVED ON 23:36:00 Dec 12, 2000 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:29:40 Jul 12, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 84.161
  exclusion.robots: 0.084
  exclusion.robots.policy: 0.073
  RedisCDXSource: 0.601
  esindex: 0.011
  LoadShardBlock: 64.571 (3)
  PetaboxLoader3.datanode: 110.794 (4)
  load_resource: 184.854
  PetaboxLoader3.resolve: 123.914
*/